<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台--数据管理</title>
    <link rel="stylesheet" href="../../js/public/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/view/iframe/channel-setup.css">

</head>
<body>
<div class="platform-data-management layui-form">
    <div class="platform-data-management-option">
        <span>渠道名称: </span>
        <div class="management-option-date">
            <select name="city" lay-verify="" lay-search>
                <option value="全部" selected>全部</option>
                <option value="网网贷">网网贷</option>
                <option value="网网贷1">网网贷1</option>
                <option value="网网贷2">网网贷2</option>
                <option value="网网贷3">网网贷3</option>
                <option value="网网贷4">网网贷4</option>
                <option value="网网贷5">网网贷5</option>
                <option value="网网贷6">网网贷6</option>
                <option value="网网贷7">网网贷7</option>
            </select>
        </div>
        <div class="management-option-date">
            <p class="date-today active">今天</p>
            <p class="date-yesterday">昨天</p>
            <p class="nearly-7-days">近7天</p>
            <p class="date-last-30-days">最近30天</p>
            <p class="historical-record">历史记录</p>
        </div>
        <div class="management-option-select-date">
            <span>时间选择: </span>
            <input type="text" class="date-ipt date-start" lay-key="1">
            <i class="fa fa-calendar"></i>
        </div>
    </div>
    <div class="platform-data-management-content">
        <div class="platform-data-management-content-main">
            <div class="platform-content-main-date">
                <div class="platform-content-main-date-u clear">
                    <ul>
                        <li class="liActive">用户统计</li>
                        <!--      <li>昨日用户统计</li>-->
                    </ul>
                </div>
            </div>
            <div class="content-text-statistics">
                <ul class="content-text-statistics-u">
                    <li>
                        <div class="content-text-statistics-d">
                            <div class="content-text-statistics-top">
                                <span class="fl">注册人数</span>
                            </div>
                            <div class="content-text-statistics-bottom">
                                <div class="real-data">
                                    <p>真实数据</p>
                                    <p class="num">1,6514,6424</p>
                                </div>
                                <div class="display-data">
                                    <p>展示数据</p>
                                    <p class="num">1,6514,6424</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-text-statistics-d">
                            <div class="content-text-statistics-top">
                                <span class="fl">新增/激活人数</span>
                            </div>
                            <div class="content-text-statistics-bottom">
                                <div class="real-data">
                                    <p>真实数据</p>
                                    <p class="num">1,6514,6424</p>
                                </div>
                                <div class="display-data">
                                    <p>展示数据</p>
                                    <p class="num">1,6514,6424</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-text-statistics-d">
                            <div class="content-text-statistics-top">
                                <span class="fl">活跃人数</span>
                            </div>
                            <div class="content-text-statistics-bottom">
                                <div class="real-data">
                                    <p>真实数据</p>
                                    <p class="num">1,6514,6424</p>
                                </div>
                                <div class="display-data">
                                    <p>展示数据</p>
                                    <p class="num">1,6514,6424</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-table-statistics">
                <div class="table">
                    <table class="layui-table" id="channel-setup-table" lay-filter="channel-setup-table">
                        <thead>
                        <tr>
                            <th lay-data="{field:'channelName', width:150 ,align:'center'}" rowspan="2">渠道名</th>
                            <th lay-data="{align:'center'}" colspan="2">注册人数</th>
                            <th lay-data="{align:'center'}" colspan="2">激活人数</th>
                            <th lay-data="{field:'cooperationMode',align:'center', width:120}" rowspan="2">合作模式</th>
                            <th lay-data="{field:'price',align:'center', width:120}" rowspan="2" >价格</th>
                            <th lay-data="{field:'type',align:'center', width:120}" rowspan="2">类型</th>
                            <th lay-data="{field:'state',align:'center', width:120}" rowspan="2">状态</th>
                            <th lay-data="{fixed: 'right',width:'20%', align: 'center', toolbar: '#barDemo'}" rowspan="2">操作
                            </th>
                        </tr>
                        <tr>
                            <th lay-data="{field:'registerReal',align:'center', width:120}">真实数据</th>
                            <th lay-data="{field:'registerExhibition',align:'center', width:120}">展示数据</th>
                            <th lay-data="{field:'activationReal',align:'center', width:120}">真实数据</th>
                            <th lay-data="{field:'activationExhibition',align:'center', width:120}">展示数据</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../../js/public/divScroll/divScroll.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/public/layui/layui.all.js"></script>
<script src="../../js/view/channel-setup.js"></script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="setUp">设置</a>
    {{# if(d.registerExhibition){ }}
        <a class="layui-btn layui-btn-xs" lay-event="dataStatistics">统计数据</a>
    {{# } }}
    {{# if(!d.registerExhibition){ }}
        <a class="layui-btn layui-btn-xs" lay-event="notDataStatistics">未统计数据</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>
</body>
</html>