<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类</title>
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/view/iframe/list-background-map.css">

</head>
<body>
<div class="list-background-map">
    <p class="list-background-map-title">列表背景图</p>
    <div class="list-background-map-d">
        <span>icon背景: </span>
        <div class="list-background-map-upload list-background-map-upload-icon">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                <span>上传icon背景</span>
                <input type="file" onchange="upFileBackground(this)" accept="image/*" multiple="multiple">
            </a>
            <div class="img-src fn-hide">
                <img src="" class="" alt="">
                <span class="re-upload">x</span>
            </div>
        </div>
        <div class="list-background-map-upload list-background-map-upload-icon">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                <span>上传icon背景</span>
                <input type="file" onchange="upFileBackground(this)" accept="image/*" multiple="multiple">
            </a>
            <div class="img-src fn-hide">
                <img src="" class="" alt="">
                <span class="re-upload">x</span>
            </div>
        </div>
        <div class="list-background-map-upload list-background-map-upload-icon">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                <span>上传icon背景</span>
                <input type="file" onchange="upFileBackground(this)" accept="image/*" multiple="multiple">
            </a>
            <div class="img-src fn-hide">
                <img src="" class="" alt="">
                <span class="re-upload">x</span>
            </div>
        </div>
    </div>
    <div class="list-background-map-d">
        <span>图片背景: </span>
        <div class="list-background-map-upload list-background-map-upload-photo">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                <span>上传图片背景</span>
                <input type="file" onchange="upFileBackground(this)" accept="image/*" multiple="multiple">
            </a>
            <div class="img-src fn-hide">
                <img src="" class="" alt="">
                <span class="re-upload">x</span>
            </div>
        </div>
        <div class="list-background-map-upload list-background-map-upload-photo">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                <span>上传图片背景</span>n>
                <input type="file" onchange="upFileBackground(this)" accept="image/*" multiple="multiple">
            </a>
            <div class="img-src fn-hide">
                <img src="" class="" alt="">
                <span class="re-upload">x</span>
            </div>
        </div>
        <div class="list-background-map-upload list-background-map-upload-photo">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                <span>上传图片背景</span>
                <input type="file" onchange="upFileBackground(this)" accept="image/*" multiple="multiple">
            </a>
            <div class="img-src fn-hide">
                <img src="" class="" alt="">
                <span class="re-upload">x</span>
            </div>
        </div>
    </div>
    <div class="list-background-map-option">
        <span class="list-background-map-confirm">确认</span>
        <span class="list-background-map-cancel">取消</span>
    </div>
</div>

<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script src="../../js/view/list-background-map.js"></script>
</body>
</html>