body, html {
    width: 100%;
    height: 100%;
}

body .active>a {
    color: #5cb85c;
}
/*  顶部start */
.info_content {
    height: 80px;
    width: 100%;
    background: #ECECEE;
    display: flex;
}

.info_content-left{
    flex: 0 0 240px;
    text-align: center;
    line-height: 80px;
    background-color: #444D62;
}
.info_content-right{
    flex: 1;
    color: #fff;
    position: relative;
}
.info_content-right-con{
    height: 65px;
    background: #fff;
    width: 100%;
}
.info_content-info{
    height: 65px;
    line-height: 65px;
    color: #5A5D5A;
    padding-left: 22px;
}
.info_content-info>span{
    font-weight: bold;
}
.info_content-right-con .personal{
    max-width: 300px;
    cursor: pointer;
    color: rgba(81, 90, 110, 1);
    padding-right: 50px;
    float: right;
    display: inline-block;
    padding-top: 20px;
}
.info_content-right .icon{
    font-size: 20px;
    padding-right: 15px;
}
.personal-settings{
    position: absolute;
    right: 40px;
    top: 65px;
    background: #fff;
    border: 1px solid #ccc;
}
.personal-settings-u>li{
    padding: 5px 15px;
    color: #000;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}
.change-password{
    padding: 20px;
}
.change-password .password{
    margin-bottom: 14px;
}
.change-password .password>span{
    width: 60px;
    text-align: right;
}
.change-password .password .password-ipt{
    border: 1px solid #e0e0e0;
    height: 25px;
    padding-left: 8px;
    margin-left: 5px;
    border-radius: 4px;
}
.password-opi{
    text-align: center;
}
.password-opi span{
    padding: 5px 10px;
    background: #188ae2;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    margin: 0 10px;
}
.password-opi .cancel{
    background: #fff;
    color: #333;
    border: 1px solid #e0e0e0;
}
/*  顶部end */



/*  左侧数据树start */

.s-side {
    width: 240px;
    float: left;
    height: calc(100% - 80px);
    background-color: #444D62;
    display: inline-block;
    box-sizing: border-box;
}
.s-side i{
    color: #fff;
}
.s-side .s-firstItem i {
    font-size: 20px;
}

.s-side .s-firstItem span {
    display: inline-block;
    margin-left: 14px;
    font-size: 20px;
}

.s-side .first {
    padding: 5px 0 0 0;
}

.s-side .d-firstNav span {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
}

.s-side .d-firstNav i.fr {
    font-size: 15px;
    margin-right: 10px
}

.s-side .s-secondNav,
.s-side .s-secondItem {
    padding-left: 55px;
    line-height: 35px;
}

.s-secondNav:hover, .d-firstNav:hover {
    cursor: pointer
}

.s-secondNav span {
    color: #fff;
}

.iconRotate {
    transform: rotate(90deg);
    transition: transform 0.5s;
}

.s-firstDrop,
.s-secondDrop {
    display: none;
    background: #12374A;
    border-left: 2px solid #5cb85c;
}

.first .s-thirdItem {
    padding-left: 60px;
}

.s-secondItem a, .s-thirdItem a {
    width: 100%;
    display: inline-block;
    font-size: 14px;
}

.d-firstNav {
    padding: 5px;
}
.d-firstNav i:nth-child(1){
    padding-left: 10px;
    display: inline-block;
    width: 20px;
}

.fa-caret-right {
    margin-right: 12px;
}

.s-secondNav .fa-caret-right {
    margin-top: 8px;
}

/*  左侧数据树end */

.menu-item {
    float: right;
    display: inline-block;
    height: calc(100% - 80px);
    box-sizing: border-box;
    width: calc(100% - 240px)
}

.title-all {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.content-title-allName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.content-title-name {
    margin-left: 20px;
}

.content-center {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

.content-center-main {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
}


/* 轮播图 start */
.rotation-chart-top {
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 15px 20px 0 0;
}

.add-rotation-chart {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    background: #3CB7F9;
    color: #fff;
    float: right;
    cursor: pointer;
}

.rotation-chart-bottom {
    padding: 10px 20px 10px 0;
    height: calc(100% - 50px);
}

.rotation-chart-bottom > ul {
    width: 100%;
    height: 92%;
}

.rotation-chart-bottom > ul > li {
    float: left;
    height: 180px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background: #ccc;
}

.rotation-chart-bottom-ul > li .photo-left,
.rotation-chart-bottom-ul > li .photo-right {
    float: left;
    width: 50%;
    height: 98%;
    text-align: center;
    position: relative;
}

.photo-right > .option ,.photo-left .option{
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    display: inline-block;
    z-index: 2;
}
.photo-right .remove{
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 10;
    display: inline-block;
    background: red;
    color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    line-height: 10px;
    text-align: center;
    cursor: pointer;
}
.photo-right .remove i{
    font-size: 10px;
}

.option-p {
    cursor: pointer;
}

.option-ul {
    background: #fff;
    display: none;
}

.option-ul li {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;

}

.sort {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 40px;
    height: 20px;
    display: inline-block;
    z-index: 2;
    background: #fff;
    border-radius: 4px;
}

.rotation-chart-bottom-ul > li .file {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #888;
    text-decoration: none;
    text-indent: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 55px;
    box-sizing: border-box;
}

.rotation-chart-bottom-ul > li .file input {
    position: absolute;
    font-size: 120px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.rotation-chart-bottom-ul > li .file-img {
    width: 100%;
    height: 100%;
}

.rotation-chart-bottom-ul > li .photo-left {
    border-right: 3px solid #fff;
}

.rotation-chart-bottom-ul > li i {
    font-size: 18px;
}

.rotation-chart-bottom-option {
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.rotation-chart-bottom-option > span {
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #188ae2;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.rotation-chart-bottom-option .rotation-chart-cancel {
    background: #FBFBFB;
    color: #ccc;
}

/* 轮播图 end */


/* 文章管理 start */
/*.article-management-top{
    line-height: 30px;
}
.article-management-label{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
!*    padding-bottom: 15px;*!
}

.article-management-label>ul{

}
.article-management-label>ul>li{
    float: left;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    line-height: 30px;
    padding: 0 4px;
    height: 30px;
    position: relative;
}
.article-management-label>ul{
    display: inline-block;
}
.article-management-label>ul>li.article-active{
    border-bottom: 2px solid #5CC1F8;
}
.article-management-label>ul>li .fa-chevron-down{
    color: #0C0C0C;
    display: none;
}
.article-management-label-tit-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.article-management-label-num{
    position: absolute;
    top: -7px;
    right: -7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    background: #188ae2;
    color: #fff;
    border-radius: 50%;
}
.article-management-label-down{
    position: absolute;
    top: 0;
    right: -15px;
    display: inline-block;
    width: 16px;
    height: 30px;
}
.article-management-label-option{
    display: none;
    min-width: 86px;
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    top: 25px;
    right: -30px;
    background: #fff;
    padding: 5px 13px;
    z-index: 2;
}
.article-management-label-option>p{
    cursor: pointer;
    padding: 2px;
}
.article-management {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    background: #3CB7F9;
    color: #fff;
    float: right;
    cursor: pointer;
}
.article-title-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.add-article-title{
    display: inline-block;
    width: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px
}
.add-article-title i{
    color: #333;
}

.article-management-bottom{
    height: calc(100% - 70px);
    padding: 0;
}

.article-management-content{
    height: calc(100% - 30px);
!*    overflow: auto;*!
    padding: 20px 20px 0 0;
}

.article-management-content > ul {
    width: 100%;
    height: 100%;
}

.article-management-content > ul > li {
    float: left;
    height: 260px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: #FDFDFD;
    box-shadow: 0 0 10px #ccc;
}
.article-management-content-tit{
    font-weight: 700;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.article-management-content-img{
    margin-top: 8px;
    width: 100%;
    height: 90px;
}
.article-management-content-con{
    margin-top: 8px;
    height: 60px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}
.article-management-content-option{
    margin-top: 28px;
}
.article-management-content-time{
    color: #999;
}
.article-management-content-ul{
    display: inline-block;
    float: right;
}
.article-management-content-ul>li{
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
.article-management-content-ul>li:nth-child(1){
    padding-top: 1px;
}

.article-management-content-ul>li:nth-child(2){
    padding-right: 0;
}
.article-management-content-ul>li i{
    color: #999;
}*/
/* 文章管理 end */


/* 平台管理start */
.platform-top{
    line-height: 30px;
}
.platform-label{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    /*    padding-bottom: 15px;*/
}

.platform-label>ul{

}
.platform-label>ul>li{
    float: left;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    line-height: 30px;
    padding: 0 4px;
    height: 30px;
    position: relative;
}
.platform-label>ul{
    display: inline-block;
}
.platform-label>ul>li.platform-active{
    border-bottom: 2px solid #5CC1F8;
}
.platform-label>ul>li .fa-chevron-down{
    color: #0C0C0C;
    display: none;
}
.platform-label-tit-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.platform-label-num{
    position: absolute;
    top: -7px;
    right: -7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    background: #188ae2;
    color: #fff;
    border-radius: 50%;
}
.platform-label-down{
    position: absolute;
    top: 0;
    right: -15px;
    display: inline-block;
    width: 16px;
    height: 30px;
}
.platform-label-option{
    display: none;
    min-width: 86px;
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    top: 25px;
    right: -30px;
    background: #fff;
    padding: 5px 13px;
    z-index: 2;
}
.platform-label-option>p{
    cursor: pointer;
    padding: 2px;
}
.platform {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    background: #3CB7F9;
    color: #fff;
    float: right;
    cursor: pointer;
}
.platform-title-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.add-platform-title{
    display: inline-block;
    width: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px
}
.add-platform-title i{
    color: #333;
}

.platform-bottom{
    height: calc(100% - 70px);
    padding: 0;
}

.platform-content{
    height: calc(100% - 30px);
    overflow: auto;
    padding: 20px 20px 0 0;
}

.platform-content > ul {
    width: 100%;
    height: 100%;
}

.platform-content > ul > li {
    float: left;
    height: 260px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: #FDFDFD;
    box-shadow: 0 0 10px #ccc;
}
.platform-content-tit{
    font-weight: 700;
    color: #333;
}
.platform-content-img{
    margin-top: 8px;
    width: 100%;
    height: 90px;
}
.platform-content-con{
    margin-top: 8px;
    height: 60px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}
.platform-content-option{
    margin-top: 28px;
}
.platform-content-time{
    color: #999;
}
.platform-content-ul{
    display: inline-block;
    float: right;
}
.platform-content-ul>li{
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
.platform-content-ul>li:nth-child(1){
    padding-top: 1px;
}

.platform-content-ul>li:nth-child(2){
    padding-right: 0;
}
.platform-content-ul>li i{
    color: #999;
}
.platform-content-all-top{
    display: flex;
    height: 80px;
}
.platform-logo{
    flex: 0 0 80px;
    height: 80px;
}
.platform-synopsis{
    flex: 1;
    line-height: 40px;
    margin-left: 20px;
}
.platform-content-all-bottom{
    line-height: 40px;
    margin-top: 20px;
}
/* 平台管理end */


/* 标签管理start */
/*.label-management-top{
    line-height: 30px;
}
.label-management-label{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    !*    padding-bottom: 15px;*!
}

.label-management-label>ul{

}
.label-management-label>ul>li{
    float: left;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    line-height: 30px;
    padding: 0 4px;
    height: 30px;
    position: relative;
}
.label-management-label>ul{
    display: inline-block;
}
.label-management-label>ul>li.label-management-active{
    border-bottom: 2px solid #5CC1F8;
}
.label-management-label>ul>li .fa-chevron-down{
    color: #0C0C0C;
    display: none;
}
.label-management-label-tit-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.label-management-label-num{
    position: absolute;
    top: -7px;
    right: -7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    background: #188ae2;
    color: #fff;
    border-radius: 50%;
}
.label-management-label-down{
    position: absolute;
    top: 0;
    right: -15px;
    display: inline-block;
    width: 16px;
    height: 30px;
}
.label-management-label-option{
    display: none;
    min-width: 86px;
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    top: 25px;
    right: -30px;
    background: #fff;
    padding: 5px 13px;
    z-index: 2;
}
.label-management-label-option>p{
    cursor: pointer;
    padding: 2px;
}
!*.label-management {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    background: #3CB7F9;
    color: #fff;
    float: right;
    cursor: pointer;
}*!
.label-management-title-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.add-label-management-title{
    display: inline-block;
    width: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px
}
.add-label-management-title i{
    color: #333;
}

.label-management-bottom{
    height: calc(100% - 70px);
    padding: 0;
}

.label-management-content{
    height: calc(100% - 30px);
    overflow: auto;
    padding: 20px 20px 0 0;
}

.label-management-content > ul {
    width: 100%;
    height: 100%;
}

.label-management-content > ul > li {
    float: left;
    height: 260px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: #FDFDFD;
    box-shadow: 0 0 10px #ccc;
}
.label-management-content-tit{
    font-weight: 700;
    color: #333;
}
.label-management-content-img{
    margin-top: 8px;
    width: 100%;
    height: 90px;
}
.label-management-content-con{
    margin-top: 8px;
    height: 60px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}
.label-management-content-option{
    margin-top: 28px;
}
.label-management-content-time{
    color: #999;
}
.label-management-content-ul{
    display: inline-block;
    float: right;
}
.label-management-content-ul>li{
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
.label-management-content-ul>li:nth-child(1){
    padding-top: 1px;
}

.label-management-content-ul>li:nth-child(2){
    padding-right: 0;
}
.label-management-content-ul>li i{
    color: #999;
}
.label-management-content-all-top{
    display: flex;
    height: 80px;
}
.label-management-logo{
    flex: 0 0 80px;
    height: 80px;
}
.label-management-synopsis{
    flex: 1;
    line-height: 40px;
    margin-left: 20px;
}
.label-management-content-all-bottom{
    line-height: 40px;
    margin-top: 20px;
}*/
/* 标签管理end */


/* 数据管理start */
.data-management{
    background: #fff;
}
.data-management-top{
    padding: 20px;
    box-sizing: border-box;
    background: rgb(244,244,244);
}
.data-management-platform-name,.data-management-time{
    display: inline-block;
}
.data-management-platform-name{
    margin-right: 30px;
    position: relative;
}
.data-management-name{
    width: 230px;
    height: 30px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.data-management-time i{
    position: relative;
    top: 0;
    left: -25px;
    color: #ccc;
}
.data-management-ipt{
    width: 180px;
    height: 30px;
    padding-left: 10px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}
.data-management-end{
    margin-left: 15px;
}
.data-management-search{
    margin-top: 20px;
    padding-left: 250px;
}
.data-management-search span{
    margin: 0 35px;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: rgb(60,183,249);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.data-management-search .data-management-empty{
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
}
.data-management-bottom{
    height: calc(100% - 121px);
    margin: 20px 0;
}
.data-management-content-option span{
    margin: 0 15px;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: rgb(60,183,249);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.data-management-content-option{
    margin-bottom: 15px;
}
.data-management-content-option .data-management-export-all{
    margin-left: 0;
}
.data-management-content-option .data-management-batch-export{
    background: red;
    color: #fff;
}
.data-management-content-table{
    height: calc(100% - 50px);
    overflow: auto;
}
.data-management-content-table .layui-form{
    height: calc(100% - 20px);
}
.data-management-content-table .layui-form .layui-table-box{
    height: calc(100% - 41px);
    overflow: hidden;
}
.data-management-content-table .layui-table-body{
    height: calc(100% - 39px);
}
/*.data-management-content-table .layui-table{
    width: 100%;
}
.data-management-content-table .layui-table tbody{
    width: 100%;
}*/

.data-management-iframe{
    width: 100%;
    height: 100%;
}
/* 数据管理end */

