<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类</title>
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/view/iframe/classification-map.css">

</head>
<body>
<div class="classification-map">
    <p class="classification-map-tit">分类</p>
    <div class="icon-upload">
        <span>icon上传:</span>
        <div class="icon-content">
            <ul class="icon-content-u clear">
                <li class="icon1">
                   <div class="img-file">
                       <a href="javascript:void (0);" class="file fileImg">
                           <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                           <span>上传icon</span>
                           <input type="file" onchange="upFile(this)" accept="image/*"   multiple="multiple">
                       </a>
                       <div class="img-src fn-hide">
                           <img src="" class="" alt="">
                           <span class="re-upload">x</span>
                       </div>
                   </div>
                    <input type="text" class="icon-ipt" placeholder="输入名称">
                </li>
                <li class="icon2">
                    <div class="img-file">
                        <a href="javascript:void (0);" class="file fileImg">
                            <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                            <span>上传icon</span>
                            <input type="file" onchange="upFile(this)" accept="image/*"   multiple="multiple">
                        </a>
                        <div class="img-src fn-hide">
                            <img src="" class="" alt="">
                            <span class="re-upload">x</span>
                        </div>
                    </div>
                    <input type="text" class="icon-ipt" placeholder="输入名称">
                </li>
                <li class="icon3">
                    <div class="img-file">
                        <a href="javascript:void (0);" class="file fileImg">
                            <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                            <span>上传icon</span>
                            <input type="file" onchange="upFile(this)" accept="image/*"   multiple="multiple">
                        </a>
                        <div class="img-src fn-hide">
                            <img src="" class="" alt="">
                            <span class="re-upload">x</span>
                        </div>
                    </div>
                    <input type="text" class="icon-ipt" placeholder="输入名称">
                </li>
            </ul>
        </div>
    </div>
    <div class="photo-upload">
        <span>图片:</span>
        <div class="photo-content">
            <div class="photo-content-left">
                <div class="img-file">
                    <a href="javascript:void (0);" class="file fileImg">
                        <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                        <span>上传图片</span>
                        <input type="file" onchange="upFilePhoto(this)" accept="image/*"   multiple="multiple">
                    </a>
                    <div class="img-src fn-hide">
                        <img src="" class="" alt="">
                        <span class="re-upload">x</span>
                    </div>
                </div>
            </div>
            <div class="photo-content-right">
                <div class="photo-content-right-top">
                    <div class="img-file">
                        <a href="javascript:void (0);" class="file fileImg">
                            <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                            <span>上传图片</span>
                            <input type="file" onchange="upFilePhoto(this)" accept="image/*"   multiple="multiple">
                        </a>
                        <div class="img-src fn-hide">
                            <img src="" class="" alt="">
                            <span class="re-upload">x</span>
                        </div>
                    </div>
                </div>
                <div class="photo-content-right-bottom">
                    <div class="img-file">
                        <a href="javascript:void (0);" class="file fileImg">
                            <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                            <span>上传图片</span>
                            <input type="file" onchange="upFilePhoto(this)" accept="image/*"   multiple="multiple">
                        </a>
                        <div class="img-src fn-hide">
                            <img src="" class="" alt="">
                            <span class="re-upload">x</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rotation-chart-bottom-option">
        <span class="rotation-chart-confirm">确认</span>
        <span class="rotation-chart-cancel">取消</span>
    </div>
</div>

<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script src="../../js/view/classification-map.js"></script>
</body>
</html>