<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据管理</title>
    <link rel="stylesheet" href="../../js/public/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/view/iframe/data-management.css">

</head>
<body>
<div class="data-management">
    <div class="data-management-top">
        <div class="data-management-platform-name">
            <span>平台名称: &nbsp;</span>
            <input type="text" class="data-management-name">
        </div>
        <div class="management-option-date">
            <p class="date-today" data-time="1">今天</p>
            <p class="date-yesterday"  data-time="-1">昨天</p>
            <p class="nearly-7-days"  data-time="7">近7天</p>
            <p class="date-last-30-days"  data-time="30">最近30天</p>
            <p class="historical-record active"  data-time="all">历史记录</p>
        </div>
        <div class="data-management-time">
            <span>时间选择: </span>
            <input type="text" class="data-management-ipt data-management-start">
            <i class="fa fa-calendar"></i>
            <!--<span class="data-management-empty">重置</span>-->
        </div>
    </div>
    <div class="data-management-bottom">
        <div class="data-management-content-option">
            <span class="data-management-export-all">全部导出</span>
            <span class="data-management-batch-export">批量导出</span>
        </div>
        <div class="data-management-content-table">
            <table  class="layui-hide" id="data-management-content-table"></table>
        </div>
    </div>
</div>

<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../../js/public/divScroll/divScroll.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script src="../../js/public/layui/layui.all.js"></script>
<script src="../../js/view/data-management.js" defer></script>
</body>
</html>