<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签管理</title>
    <link rel="stylesheet" href="../../js/public/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/view/iframe/label-management.css">


</head>
<body>
<div>
    <div class="rotation-chart-top article-management-top">
    </div>
    <div class="label-management-bottom">
        <div class="label-management-label">
            <ul class="layui-clear">
                <li class="label-management-active">
                    <span>全部标签</span>
                </li>
                <li class="add-label-management-li">
                    <input type="text" placeholder="输入标签名称" class="label-management-title-ipt">
                    <span class="add-label-management-title"><i class="fa fa-plus"></i></span>
                </li>
            </ul>
        </div>
        <div class="label-management-content">
            <div class="label-management-content-table">
                <table class="layui-hide" id="label-management-content-table"></table>
            </div>
        </div>
    </div>
</div>

<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../../js/public/divScroll/divScroll.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script src="../../js/public/layui/layui.all.js"></script>
<script src="../../js/view/label-management.js"></script>
</body>
</html>