html, body {
    width: 100%;
    height: 100%;
    background: #fff;
    min-width: auto!important;
}

.label-management-top{
    line-height: 30px;
}
.label-management-label{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    /*    padding-bottom: 15px;*/
}

.label-management-label>ul{

}
.label-management-label>ul>li{
    float: left;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    line-height: 30px;
    height: 30px;
    position: relative;
    padding-right: 20px;
    padding-left: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.label-management-label>ul{
    display: inline-block;
}
.label-management-label>ul>li.label-management-active{
    background: #5cc1f8;
    color: #fff;
}
.label-management-label>ul>li .fa-chevron-down{
    color: #0C0C0C;
    display: none;
}
.label-management-label-tit-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}

.label-management-label-down{
    position: absolute;
    top: 0;
    right: -15px;
    display: inline-block;
    width: 16px;
    height: 30px;
}
.label-management-label-option{
    display: none;
    min-width: 86px;
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    top: 25px;
    right: -30px;
    background: #fff;
    padding: 5px 13px;
    z-index: 2;
}
.label-management-label-option>p{
    cursor: pointer;
    padding: 2px;
}

.label-management-title-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.add-label-management-title{
    display: inline-block;
    width: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px
}
.add-label-management-title i{
    color: #333;
}

.label-management-bottom{
    height: calc(100% - 70px);
    padding: 0;
}

.label-management-content{
    height: calc(100% - 30px);
    overflow: auto;
    margin-top: 10px;
}

.label-management-content > ul {
    width: 100%;
    height: 100%;
}

.label-management-content > ul > li {
    float: left;
    height: 260px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: #FDFDFD;
    box-shadow: 0 0 10px #ccc;
}
.label-management-content-tit{
    font-weight: 700;
    color: #333;
}
.label-management-content-img{
    margin-top: 8px;
    width: 100%;
    height: 90px;
}
.label-management-content-con{
    margin-top: 8px;
    height: 60px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}
.label-management-content-option{
    margin-top: 28px;
}
.label-management-content-time{
    color: #999;
}
.label-management-content-ul{
    display: inline-block;
    float: right;
}
.label-management-content-ul>li{
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
.label-management-content-ul>li:nth-child(1){
    padding-top: 1px;
}

.label-management-content-ul>li:nth-child(2){
    padding-right: 0;
}
.label-management-content-ul>li i{
    color: #999;
}
.label-management-content-all-top{
    display: flex;
    height: 80px;
}
.label-management-logo{
    flex: 0 0 80px;
    height: 80px;
}
.label-management-synopsis{
    flex: 1;
    line-height: 40px;
    margin-left: 20px;
}
.label-management-content-all-bottom{
    line-height: 40px;
    margin-top: 20px;
}

.platform-top{
    line-height: 30px;
}
.platform-label{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    /*    padding-bottom: 15px;*/
}



.platform-label-tit-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}
.label-management-label>ul>li.add-label-management-li{
    border: none;
    padding: 0;
}
.platform-label-down{
    position: absolute;
    top: 0;
    right: 2px;
    display: inline-block;
    width: 16px;
    height: 30px;
}
.platform-label-option{
    display: none;
    min-width: 86px;
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    top: 25px;
    right: -30px;
    background: #fff;
    color: #333;
    padding: 5px 13px;
    z-index: 2;
}
.platform-label-option>p{
    cursor: pointer;
    padding: 2px;
}
.platform {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    background: #3CB7F9;
    color: #fff;
    float: right;
    cursor: pointer;
}
.platform-title-ipt{
    display: none;
    width: 100px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 5px;
}

.layui-table-page>div{
    text-align: center;
}

.layui-table-cell {
    height: 45px;
    line-height: 45px;
}