<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domi.mapper.loanmarket.PlatformInfoMapper">
	<insert id="insert" parameterType="PlatformInfo" useGeneratedKeys="true" keyProperty="id">
		insert into platform_info(loanPlatformId, settleRule, settleDate, backendUrl, backendAccount, backendPassword, companyName, companyAddr, companyPhone, receiptType, receiptContent, 
		taxNumber, openbank, bankAccount, sendAddr, receiveName, recervePhone, addTime, updateTime)
		values(#{loanPlatformId}, #{settleRule}, #{settleDate}, #{backendUrl}, #{backendAccount}, #{backendPassword}, #{companyName}, #{companyAddr}, #{companyPhone}, #{receiptType}, #{receiptContent}, 
		#{taxNumber}, #{openbank}, #{bankAccount}, #{sendAddr}, #{receiveName}, #{recervePhone}, #{addTime}, #{updateTime})
	</insert>
	
	<update id="update" parameterType="PlatformInfo">
		update platform_info set settleRule=#{settleRule}, settleDate=#{settleDate}, backendUrl=#{backendUrl}, backendAccount=#{backendAccount}, backendPassword=#{backendPassword}, companyName=#{companyName},
		companyAddr=#{companyAddr}, companyPhone=#{companyPhone}, receiptType=#{receiptType}, receiptContent=#{receiptContent}, taxNumber=#{taxNumber}, openbank=#{openbank},
		bankAccount=#{bankAccount}, sendAddr=#{sendAddr}, receiveName=#{receiveName}, recervePhone=#{recervePhone}, addTime=#{addTime}, updateTime=#{updateTime}
		where loanPlatformId=#{loanPlatformId}
	</update>
	
	<select id="queryByLoanPlatformIId" parameterType="int" resultType="AppLoanPlatformDto">
		select * from platform_info where loanPlatformId=#{loanPlatformId}
	</select> 
	
	<select id="queryAll" resultType="PlatformInfo">
		select t1.*, t2.state, t2.name from platform_info t1
		inner join loan_platform t2
		on t1.loanPlatformId=t2.id
	</select>
</mapper>