<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domi.mapper.VisitHistoryMapper">

	<insert id="insert" parameterType="VisitHistory" >
		insert into visit_history(userId, platformId, platformName,platformLogoUrl, intro, hasRegiste,  updateTime, visitCount, registeCount)
		values(#{userId}, #{platformId}, #{platformName},#{platformLogoUrl}, #{intro}, #{hasRegiste},now(), #{visitCount}, #{registeCount})
	</insert>
	
	<insert id="insertVisitHistoryInfo" parameterType="VisitHistoryInfo" >
		insert into visit_history_info(userId, platformId, platformName,type, visitTime)
		values(#{userId}, #{platformId}, #{platformName},#{type}, #{visitTime})
	</insert>
	
	<update id="update" parameterType="Map">
		update visit_history set platformName=#{platformName}, intro=#{intro}, hasRegiste=#{hasRegiste},visitCount=#{visitCount}, registeCount=#{registeCount},  
		updateTime=#{updateTime} where userId=#{userId} and platformId=#{platformId}
	</update>
		
		
	<select id="queryByUserIdAndPlatformId" parameterType="Map" resultType="VisitHistory">
		select * from visit_history where userId=#{userId} and platformId=#{platformId} 
	</select>
	
	
	<select id="queryByUserId" parameterType="int" resultType="VisitHistory">
		select * from visit_history where userId=#{userId} order by updateTime desc limit #{pageIndex},#{pageSize} 
	</select>
	
</mapper>