<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<properties resource="jdbc.properties" />
	<settings>
		<!-- changes from the defaults for testing -->
        <!-- 打印查询语句 -->
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
	
		<package name="com.domi.model"/>
		<package name="com.domi.dto"/>
		<!-- 贷款超市 by shexiao -->
		<package name="com.domi.model.loanmarket"/>
		<package name="com.domi.data"/>
		
	</typeAliases>
	
	<environments default="development">
		<!-- 可以配置多个数据源么 -->
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
			
		<mapper resource="mybatis-mapper/AccountBookMapper.xml"/>			
		<mapper resource="mybatis-mapper/ManagerMapper.xml"/>		
		<mapper resource="mybatis-mapper/BannerMapper.xml"/>		
		<mapper resource="mybatis-mapper/UserMapper.xml"/>		
		<mapper resource="mybatis-mapper/ConfigMapper.xml"/>		
		<mapper resource="mybatis-mapper/FeedbackMapper.xml"/>		
		<mapper resource="mybatis-mapper/LoginPositionMapper.xml"/>		
		<mapper resource="mybatis-mapper/VersionMapper.xml"/>		
		<mapper resource="mybatis-mapper/InviteUserMapper.xml"/>		
		<mapper resource="mybatis-mapper/InviteDataMapper.xml"/>		
		<!-- 贷款超市 by shexiao -->
		<mapper resource="mybatis-mapper-loanmarket/LoanPlatformMapper.xml"/>
		<mapper resource="mybatis-mapper-loanmarket/PlatformInfoMapper.xml"/>
		<mapper resource="mybatis-mapper-loanmarket/VisitHistoryMapper.xml"/>
		
	</mappers>
	
</configuration>