<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domi.mapper.FeedbackMapper">
	<insert id="insert" parameterType="Feedback" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into feedback(phone,content,submitTime) 
			values(#{phone},#{content},#{submitTime})
		]]>
	</insert>
	
	<update id="update" parameterType="Feedback">
		<![CDATA[
		
		]]>
	</update>
	
	<select id="queryAll" resultType="Feedback">
		<![CDATA[
			select * from feedback
		]]>
	</select>
	
	<select id="queryForPage"  parameterType="Map" resultType="Feedback">
			select * from feedback where 1=1 
			<if test="phone!=''"> and phone=#{phone}</if> 			
			<if test="beginDate!=''">and DATE(submitTime)>=#{beginDate} </if>
			<if test="endDate!=''">and DATE(submitTime)<![CDATA[<=]]>#{endDate} </if>
			order by id desc limit #{pageIndex},#{pageSize}
	</select>
	
	<select id="querySize" resultType="Integer">
		<![CDATA[
			select count(*) from feedback
		]]>
	</select>
</mapper>