<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domi.mapper.InviteDataMapper">
	<select id="getList" resultType="InviteData">
		select t1.*, t2.account from invite_data t1
		inner join invite_user t2
		on t1.inviteId=t2.inviteId
		where t1.inviteId=#{inviteId}
		<if test="beginDate!=null">
			<![CDATA[and t1.inviteDate >= #{beginDate}]]>
		</if>
		<if test="endDate!=null">
			<![CDATA[and t1.inviteDate <= #{endDate}]]>
		</if>
		order by t1.inviteDate desc limit #{start}, #{length}
	</select>
	<select id="getSize" resultType="int">
		select count(1) from invite_data t1
		inner join invite_user t2
		on t1.inviteId=t2.inviteId
		where t1.inviteId=#{inviteId}
		<if test="beginDate!=null">
			<![CDATA[and t1.inviteDate >= #{beginDate}]]>
		</if>
		<if test="endDate!=null">
			<![CDATA[and t1.inviteDate <= #{endDate}]]>
		</if>
	</select>
	
	<insert id="updateInviteData" parameterType="InviteData">
		replace into invite_data(inviteId, inviteDate, inviteCount)
		values(#{inviteId}, #{inviteDate}, #{inviteCount})
	</insert>
	
	<insert id="insertMany">
		insert into invite_data(inviteId, inviteDate, inviteCount) values
		<foreach collection="list" item="item" open="" separator="," close="">
			(#{item.inviteId}, #{item.inviteDate}, #{item.inviteCount})
		</foreach>
	</insert>
</mapper>