<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domi.mapper.LoginPositionMapper">

	<insert id="insert" parameterType="LoginPosition" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into login_position(userId, address, loginTime) values (#{userId}, #{address}, #{loginTime})
		]]>
	</insert>
	

</mapper>