<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domi.mapper.VersionMapper">

    <insert id="insert" parameterType="Version" >
		<![CDATA[
			insert into version(currentVersion,downLoadUrl,description,type,isForceUpdate, remark) 
			values(#{currentVersion},#{downLoadUrl},#{description},#{type},#{isForceUpdate}, #{remark})
		]]>
	</insert>
	 
	<update id="update" parameterType="Version">
		<![CDATA[
			update version set currentVersion=#{currentVersion},downLoadUrl=#{downLoadUrl},description=#{description},type=#{type},isForceUpdate=#{isForceUpdate}
			where id=#{id}
		]]>
	</update>
	
	<select id="queryAll" resultType="Version">
		<![CDATA[
			select * from version
		]]>
	</select>
	
	<select id="queryByType" parameterType="int" resultType="Version">
		select * from version where type=#{type}
	</select>
	
	<select id="queryNewVersionByType" parameterType="int" resultType="Version">
		select * from version where type=#{type} order by currentVersion desc limit 1 
	</select>
</mapper>