* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body, html, .duo-mi, .duo-mi-content {
    background: #fff;
    width: 100%;
    height: 100%;
    font-family:PingFangSC-Semibold;
}

.duo-mi-top {
    height: 7.8rem;
    text-align: center;
}

.duo-mi-top img {
    width: 1.9rem;
    height: 1.9rem;
    margin-top: 3rem;
    box-shadow: 2px 0 4px rgba(4,159,254, 0.08);
    border-radius: 4px;
}
.duo-mi-top p{
    font-weight: 600;
    color:rgba(85,85,85,1);
    font-size: .5rem;
    margin-top: .1rem;
}

.duo-mi-bottom {
    padding: 1rem;
    padding-bottom: 0;
}

.duo-mi-bottom > ul > li {
    height: 1.5rem;
    font-size: .37rem;
    line-height: 1.5rem;
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
    font-weight: 600;
    color: rgba(85, 85, 85, 1);
}

.duo-mi-bottom > ul > li:nth-child(1) {
    border-top: 1px solid #EEEEEE;
}

.duo-mi-bottom > ul > li span:nth-child(2) {
    float: right;
    display: inline-block;
    /*         width: 1rem;*/
    height: 1rem;
    text-align: center;
    border-radius: 50%;
}

.duo-mi-bottom > ul > li > span > i {
    font-size: .5rem;
    font-weight: bold;
    color: #C7C7C7;
}

.duo-mi-content {
    display: none;
}

.duo-mi-content .nth-p1 {
    height: 1rem;
    line-height: 1rem;
    list-style: none;
    text-align: center;
}

.duo-mi-content .nth-p1 .return {
    display: inline-block;
    border-radius: 50%;
    font-size: .4rem;
    position: relative;
    top: 0;
    left: 4px;
    float: left;
}

.duo-mi-content .nth-p1 .title {
    font-size: .4rem;
    position: relative;
    top: -6px;
    font-weight: bold;
}

.duo-mi-content .nth-p1 i {
    font-size: .5rem;
}

.duo-mi-content > ul {
    height: 100%;
    width: 100%;
}

.duo-mi-content > ul > li {
    height: 100%;
    width: 100%;
    display: none;
    font-size: .4rem;
    padding: .2rem;
}

.duo-mi-content-ul > h4, .duo-mi-content-ul > ul {
    padding: 0 0 0 .3rem;
}

.duo-mi-content-ul ul > li {
    line-height: .7rem;
    padding-left: .4rem;
    font-weight: 600;
    font-size: .37rem;
    color: rgba(85, 85, 85, 1);
}

.duo-mi-content-ul p {
    line-height: .7rem;
    font-size: .37rem;
    font-weight: 600;
    color: rgba(85, 85, 85, 1);
}

.text {
    line-height: 1rem;
    text-align: center;
    font-size: .35rem;
    margin-top: 1rem;
}

.small a {
    color: #a6a6a6;
    text-decoration: none;
}

h4 {
    display: inline-block;
}

.contact-map {
    position: relative;
    max-width: 1010px;
    height: 426px;
    margin: 0 auto;
    background: url(images/info-contact-map.jpg) center no-repeat;
}

.contact-map .contact-box {
    position: absolute;
    top: 50%;
    right: 12%;
    width: 371px;
    min-height: 216px;
    margin-top: -106px;
    padding: 40px 30px 45px;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-transition: all 218ms;
    -o-transition: all 218ms;
    transition: all 218ms;
}

.page-info-contactus .contact-map .contact-box {
    position: absolute;
    top: 50%;
    right: 12%;
    width: 371px;
    min-height: 216px;
    margin-top: -106px;
    padding: 40px 30px 45px;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-transition: all 218ms;
    -o-transition: all 218ms;
    transition: all 218ms;
}

.page-info-contactus .contact-map .address-content {
    color: #23262b;
    text-align: left;
}

.page-info-contactus .contact-map .address-content h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
}

.page-info-contactus .contact-map .address-content p {
    margin-bottom: 10px;
    line-height: 20px;
}

.page-info-contactus .contact-map .address-content p {
    margin-bottom: 10px;
    line-height: 20px;
}

#allmap {
    width: 100%;
    height: 10rem;
}

iframe {
    width: 100%;
    height: 100%;
}

.title {

}
