<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多米 | 内部管理员后台</title>
    <link rel="stylesheet" href="../js/public/layui/css/layui.css">
    <link rel="stylesheet" href="../css/public/reset.css">
    <link rel="stylesheet" href="../css/public/style.css">
    <link rel="stylesheet" href="../css/administration.css"/>
    <link rel="stylesheet" type="text/css" href="../css/public/font-awesome/font-awesome.min.css">
</head>
<body>
<div class="info_content">
   <div class="info_content-left">
    <!--   <img src="../images/logo1.png" alt="">-->
       <a href="#">
           <span style="    font-size: 20px;">logo 后台管理系统</span>
       </a>
   </div>
   <div class="info_content-right">
       <div class="info_content-right-con">
           <div class="fl info_content-info">
               <span>当前位置</span>&nbsp;
               <span class="fa fa-angle-right">&nbsp;&nbsp;</span>
               <span class="info-title">图片管理</span>&nbsp;
               <span class="fa fa-angle-right">&nbsp;&nbsp;</span>
               <span class="info-title-child">轮播图</span>
           </div>
           <div class="personal">
               <span class="icon"><i class="fa fa-user"></i></span>
               <span class="account">admin</span>
           </div>

       </div>
       <div class="personal-settings fn-hide">
           <ul class="personal-settings-u">
               <li class="change-password">修改密码</li>
               <li class="sign-out">退出</li>
           </ul>
       </div>
   </div>

</div>
<div class="s-side">
    <ul class="s-side-u">
     <!--   <li class="first">
            <div class="d-firstNav s-firstNav">
                <i class="fa fa-photo"></i>
                <span>图片管理</span>
                <i class="fa fa-caret-right fr"></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem" data-id="rotation-chart">
                    <a href="#rotation-chart">轮播图</a>
                </li>
                <li class="s-secondItem" data-id="classification-map">
                    <a href="#classification-map">分类图</a>
                </li>
                <li class="s-secondItem" data-id="aggregate-rotation-background-map">
                    <a href="#aggregate-rotation-background-map">聚合轮播背景图</a>
                </li>
            </ul>
        </li>
        <li class="first">
            <div class="d-firstNav s-firstNav clearfix">
                <i class="fa fa-cloud"></i>
                <span>贷款平台</span>
                <i class="fa fa-caret-right fr "></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem" data-id="platform-data-management">
                    <a href="#platform-data-management">平台管理</a>
                    &lt;!&ndash;  <ul class="d-secondDrop s-secondDrop">
                          <li class="s-secondItem s-thirdItem" data-id="product-shelves">
                              <a href="#product-shelves">产品上架</a>
                          </li>
                          <li class="s-secondItem s-thirdItem" data-id="product-shelf">
                              <a href="#product-shelf">产品下架</a>
                          </li>
                      </ul>&ndash;&gt;
                </li>
                <li class="s-secondItem" data-imanagementd="label-management">
                    <a href="#label-">标签管理</a>
                </li>
                <li class="s-secondItem" data-id="data-management">
                    <a href="#data-management">数据管理</a>
                </li>
            </ul>
        </li>
        <li class="first">
            <div class="d-firstNav s-firstNav clearfix">
                <i class="fa fa-newspaper-o"></i>
                <span>新闻资讯</span>
                <i class="fa fa-caret-right fr "></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem" data-id="article-management">
                    <a href="#article-management">文章管理</a>
                </li>
                &lt;!&ndash;    <li>
                        <div class="d-secondNav s-secondNav">
                            <span>分类管理</span>
                            <i class="fa fa-caret-right fr"></i>
                        </div>
                        <ul class="d-secondDrop s-secondDrop">
                            <li class="s-secondItem s-thirdItem" data-id="upload-and-delete-categories">
                                <a href="#upload-and-delete-categories">上传.删除分类</a>
                            </li>
                        </ul>
                    </li>&ndash;&gt;
            </ul>
        </li>
        <li class="first">
            <div class="d-firstNav s-firstNav">
                <i class="fa fa-home"></i>
                <span>渠道推广</span>
                <i class="fa fa-caret-right fr"></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem" data-id="channel-management">
                    <a href="#channel-management">渠道管理</a>
                </li>
                <li class="s-secondItem" data-id="channel-data">
                    <a href="#channel-data">渠道数据</a>
                </li>
            </ul>
        </li>
        <li class="first">
            <div class="d-firstNav s-firstNav">
                <i class="fa fa-cog"></i>
                <span>系统管理</span>
                <i class="fa fa-caret-right fr"></i>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li class="s-secondItem" data-id="privilege-management">
                    <a href="#privilege-management">权限管理</a>
                </li>
            </ul>
        </li>-->
    </ul>
</div>


<!-- 轮播图 start -->
<div id="rotation-chart" class="menu-item fn-hide">
  <!--  <div class="title-all">
        <span class="content-title-allName">图片管理</span>
        <span class="content-title-name">轮播图</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main">
            <div class="rotation-chart-top">
                <p class="add-rotation-chart">添加图片</p>
            </div>
            <div class="rotation-chart-bottom">
                <ul class="rotation-chart-bottom-ul">
                    <!--  <li>
                          <div class="photo-left">
                              <div class="option">
                                  <p class="option-p"><i class="fa fa-ellipsis-h"></i></p>
                                  <ul class="option-ul">
                                      <li class="edit">编辑</li>
                                  </ul>
                              </div>
                              <a href="javascript:;" class="file">
                                  <p><i class="fa fa-plus"></i></p>
                                  <p>banner</p>
                                  <input type="file" onchange="upFile(this)" accept="image/jpg,image/jpeg,image/png"
                                         name="">
                              </a>
                              <img src="" alt="" class="file-img fn-hide">
                          </div>
                          <div class="photo-right">
                              <div class="option">
                                  <p class="option-p"><i class="fa fa-ellipsis-h"></i></p>
                                  <ul class="option-ul">
                                      <li class="edit">编辑</li>
                                  </ul>
                              </div>
                              <p class="sort"><span>1</span><span>/</span><span>6</span></p>
                              <a href="javascript:;" class="file">
                                  <p><i class="fa fa-plus"></i></p>
                                  <p>banner背景</p>
                                  <input type="file" onchange="upFile(this)" accept="image/jpg,image/jpeg,image/png"
                                         name="">
                              </a>
                              <img src="" alt="" class="file-img fn-hide">
                          </div>
                      </li>-->
                </ul>
                <div class="rotation-chart-bottom-option">
                    <span class="rotation-chart-confirm">确认</span>
                    <span class="rotation-chart-cancel">取消</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 轮播图 end -->


<!-- 分类图 start -->
<div id="classification-map" class="menu-item fn-hide">
<!--    <div class="title-all">
        <span class="content-title-allName">图片管理</span>
        <span class="content-title-name">分类图</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main classification-map">
            <iframe src="" data-src="view/iframe/classification-map.html" frameborder="0" class="classification-map-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 分类图 end -->


<!-- 列表背景图 start -->
<div id="list-background-map" class="menu-item fn-hide">
<!--    <div class="title-all">
        <span class="content-title-allName">图片管理</span>
        <span class="content-title-name">列表背景图</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main list-background-map">
            <iframe src="" data-src="view/iframe/list-background-map.html" frameborder="0" class="list-background-map-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 聚合轮播背景图 end -->


<!-- 平台管理 start -->
<div id="platform-management" class="menu-item fn-hide">
 <!--   <div class="title-all">
        <span class="content-title-allName">贷款平台</span>
        <span class="content-title-name">平台管理</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main platform-management">
            <!--<div class="rotation-chart-top platform-top">
                <p class="platform">新平台</p>
            </div>
            <div class="platform-bottom">
                <div class="platform-label">
                    <ul class="layui-clear">
                        <li class="platform-active">
                            <span>全部分类</span>
                            <span class="platform-label-num platform-label-all-num">0</span>
                        </li>
                 &lt;!&ndash;       <li>
                            <div class="platform-label-tit">
                                <span class="platform-label-tit-span">优选贷款</span>
                                <input type="text" class="platform-label-tit-ipt">
                                <span class="platform-label-num">12</span>
                            </div>
                            <span class="platform-label-down"><i class="fa fa-chevron-down"></i></span>
                            <div class="platform-label-option">
                                <p class="platform-title-edit">编辑标题</p>
                                <p class="platform-title-remove">删除标题</p>
                            </div>
                        </li>&ndash;&gt;
                        <li class="add-platform-li">
                            <input type="text" placeholder="输入标题名称" class="platform-title-ipt">
                            <span class="add-platform-title"><i class="fa fa-plus"></i></span>
                        </li>
                    </ul>
                </div>
                <div class="platform-content">
                    <ul>
                       &lt;!&ndash; <li>
                            <div class="platform-content-all">
                                <div class="platform-content-all-top">
                                    <img src="../images/logo.png" class="platform-logo" alt="">
                                    <div class="platform-synopsis">
                                        <p class="fw">网网贷</p>
                                        <p class="fw">最高可借 ￥10000</p>
                                    </div>
                                </div>
                                <div class="platform-content-all-bottom">
                                    <div class="platform-cooperation-mode">
                                        <span>合作模式 : </span>
                                        <span>线上交易</span>
                                    </div>
                                    <div class="platform-price">
                                        <span>价格 : </span>
                                        <span>￥9999</span>
                                    </div>
                                </div>
                            </div>
                            <div class="platform-content-option">
                                <span class="platform-content-time">更新于11月27日</span>
                                <ul class="platform-content-ul">
                                    <li class="platform-content-edit"><i class="fa fa-edit"></i></li>
                                    <li class="platform-content-remove"><i class="fa fa-trash-o"></i></li>
                                </ul>
                            </div>
                        </li>&ndash;&gt;
                    </ul>
                </div>
            </div>-->

            <iframe src="" data-src="view/iframe/platform-management.html" frameborder="0" class="platform-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 平台管理 end -->

<!-- 标签管理 start -->
<div id="label-management" class="menu-item fn-hide">
 <!--   <div class="title-all">
        <span class="content-title-allName">贷款平台</span>
        <span class="content-title-name">标签管理</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main label-management">
     <!--       <div class="rotation-chart-top article-management-top">
            </div>
            <div class="label-management-bottom">
                <div class="label-management-label">
                    <ul class="layui-clear">
                        <li class="label-management-active">
                            <span>全部标签</span>
                            <span class="label-management-label-num label-management-label-all-num">12</span>
                        </li>
                        <li class="add-label-management-li">
                            <input type="text" placeholder="输入标签名称" class="label-management-title-ipt">
                            <span class="add-label-management-title"><i class="fa fa-plus"></i></span>
                        </li>
                    </ul>
                </div>
                <div class="label-management-content">
                    <ul>
                    </ul>
                </div>
            </div>-->
            <iframe src="" data-src="view/iframe/label-management.html" frameborder="0" class="label-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 标签管理 end -->

<!-- 数据管理 start -->
<div id="data-management" class="menu-item fn-hide">
   <!-- <div class="title-all">
        <span class="content-title-allName">贷款平台</span>
        <span class="content-title-name">数据管理</span>
    </div>-->

    <div class="content-center">
        <div class="content-center-main data-management" style="">
            <iframe src="" data-src="view/iframe/data-management.html" frameborder="0" class="data-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 数据管理 end -->


<!-- 文章管理 start -->
<div id="article-management" class="menu-item fn-hide">
 <!--   <div class="title-all">
        <span class="content-title-allName">新闻资讯</span>
        <span class="content-title-name">文章管理</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main article-management">
            <iframe src="" data-src="view/iframe/article-management.html" frameborder="0" class="article-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 文章管理 end -->


<!-- 渠道数据 start -->
<div id="popular-management" class="menu-item fn-hide">
  <!--  <div class="title-all">
        <span class="content-title-allName">贷款平台</span>
        <span class="content-title-name">热门管理</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main popular-management" style="">
            <iframe src="" data-src="view/iframe/popular-management.html" frameborder="0" class="popular-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 渠道数据 end -->


<!-- 渠道数据 start -->
<div id="channel-data" class="menu-item fn-hide">
 <!--   <div class="title-all">
        <span class="content-title-allName">渠道推广</span>
        <span class="content-title-name">渠道数据</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main channel-data" style="">
            <iframe src="" data-src="view/iframe/channel-data.html" frameborder="0" class="channel-data-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 渠道数据 end -->


<!-- 渠道管理 start -->
<div id="channel-management" class="menu-item fn-hide">
   <!-- <div class="title-all">
        <span class="content-title-allName">渠道推广</span>
        <span class="content-title-name">渠道管理</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main channel-management" style="">
            <iframe src="" data-src="view/iframe/channel-management.html" frameborder="0" class="channel-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 渠道管理 end -->


<!-- 平台数据管理 start -->
<div id="platform-data-management" class="menu-item fn-hide">
<!--    <div class="title-all">
        <span class="content-title-allName">平台管理</span>
        <span class="content-title-name">数据管理</span>
    </div>-->
    <div class="content-center" style="padding: 0;">
        <div class="content-center-main platform-data-management">
            <iframe src="" data-src="view/iframe/platform-data-management.html" frameborder="0" class="platform-data-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 平台数据管理 end -->


<!-- 渠道设置 start -->
<div id="channel-setup" class="menu-item fn-hide">
<!--    <div class="title-all">
        <span class="content-title-allName">平台管理</span>
        <span class="content-title-name">渠道设置</span>
    </div>-->
    <div class="content-center" style="padding: 0;">
        <div class="content-center-main channel-setup" style="">
            <iframe src="" data-src="view/iframe/channel-setup.html" frameborder="0" class="channel-setup-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 渠道设置 end -->


<!-- 权限管理 start -->
<div id="privilege-management" class="menu-item fn-hide">
<!--    <div class="title-all">
        <span class="content-title-allName">系统管理</span>
        <span class="content-title-name">权限管理</span>
    </div>-->
    <div class="content-center">
        <div class="content-center-main privilege-management" style="">
            <iframe src=""  data-src="view/iframe/privilege-management.html" frameborder="0" class="privilege-management-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 权限管理 end -->

<!-- 用户列表 start -->
<div id="user-list" class="menu-item fn-hide">
<!--    <div class="title-all">
        <span class="content-title-allName">系统管理</span>
        <span class="content-title-name">用户列表</span>
    </div>-->
    <div class="content-center" style="padding: 0;">
        <div class="content-center-main user-list" style="">
            <iframe src=""  data-src="view/iframe/user-list.html" frameborder="0" class="user-list-iframe"></iframe>
        </div>
    </div>
</div>
<!-- 用户列表 end -->

<span class="permissionValue fn-hide"></span>

<script src="../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../js/public/divScroll/divScroll.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script src="../js/public/layui/layui.all.js"></script>
<script src="../js/view/rotation-chart.js" defer></script>


</body>
</html>