<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多米 | 内部管理员后台</title>
    <link rel="stylesheet" href="../js/public/layui/css/layui.css">
    <link rel="stylesheet" href="../css/public/reset.css">
    <link rel="stylesheet" href="../css/public/style.css">
    <link rel="stylesheet" href="../css/administration.css"/>
    <link rel="stylesheet" type="text/css" href="../css/public/font-awesome/font-awesome.min.css">
</head>
<body>
<div class="info_content">
   <div class="info_content-left">
    <!--   <img src="../images/logo1.png" alt="">-->
       <a href="#">
           <span style="    font-size: 20px;">logo 后台管理系统</span>
       </a>
   </div>
   <div class="info_content-right">
       <div class="info_content-right-con">
           <div class="fl info_content-info">
               <span>当前位置</span>&nbsp;
               <span class="fa fa-angle-right">&nbsp;&nbsp;</span>
               <span class="info-title">图片管理</span>&nbsp;
               <span class="fa fa-angle-right">&nbsp;&nbsp;</span>
               <span class="info-title-child">轮播图</span>
           </div>
           <div class="personal">
               <span class="icon"><i class="fa fa-user"></i></span>
               <span class="account">admin</span>
           </div>

       </div>
       <div class="personal-settings fn-hide">
           <ul class="personal-settings-u">
               <li class="change-password">修改密码</li>
               <li class="sign-out">退出</li>
           </ul>
       </div>
   </div>

</div>
<div class="s-side">
    <ul class="s-side-u">
    </ul>
</div>



<span class="permissionValue fn-hide"></span>

<script src="../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../js/public/divScroll/divScroll.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script src="../js/public/layui/layui.all.js"></script>


</body>
</html>
