<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>贷贷 | 内部管理员后台 渠道用户</title>
    <link rel="stylesheet" href="../js/public/layui/css/layui.css">
    <link rel="stylesheet" href="../css/public/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../css/channel-user.css">

</head>
<body>
<div class="info_content">
   <div class="info_content-left">
       <img src="../images/logo1.png" alt="">
   </div>
   <div class="info_content-right">
      <div class="personal">
          <span class="icon"><i class="fa fa-user"></i></span>
          <span class="account">admin</span>
      </div>
       <div class="personal-settings fn-hide">
           <ul class="personal-settings-u">
               <li class="change-password">修改密码</li>
               <li class="sign-out">退出</li>
           </ul>
       </div>
   </div>
</div>

<div class="management-option">
    <div class="management-option-date">
        <p class="date-today active">今天</p>
        <p class="date-yesterday">昨天</p>
        <p class="nearly-7-days">近7天</p>
        <p class="date-last-30-days">最近30天</p>
        <p class="historical-record">历史记录</p>
    </div>
    <div class="channel-data-time">
        <span>时间: </span>
        <input type="text" class="channel-data-ipt channel-data-start" lay-key="1">
        <i class="fa fa-calendar"></i>
        <span class="data-management-empty">重置</span>
    </div>
    <div class="table">
        <table class="layui-hide" id="channel-user" lay-filter="user-list"></table>
    </div>
</div>

<script src="../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../js/public/divScroll/divScroll.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script src="../js/public/layui/layui.all.js"></script>
<script src="../js/channel-user.js"></script>
</body>
</html>