html,body,.classification-map{
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    min-width: auto!important;
}
.classification-map{
    padding: 20px;
}
.classification-map-tit{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
}
.icon-upload{
    position: relative;
}
.icon-upload>span{
    position: absolute;
    font-weight: 700;
}
.icon-content{
    display: inline-block;
}
.icon-content-u{
    margin-left: 45px;
}
.icon-content-u>li{
    float: left;
    margin: 0 40px;
    width: 260px;
    height: 250px;
}
.img-file{
    width: 100%;
    height: 100%;
}
.img-file .img-src{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: relative;
}
.img-file .img-src img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.img-file .img-src span{
    position: absolute;
    top: -7px;
    right: -7px;
    z-index: 10;
    display: inline-block;
    background: red;
    color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    line-height: 10px;
    text-align: center;
    cursor: pointer;
}
.icon-upload .fileImg{
    position: relative;
    display: block;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;;
    height: 100%;
    text-align: center;
}
.upload-pictures-span {
    color: #c2c2c2;
    padding-left: 5px;
    display: block;
    padding-top: 110px;
}
.fileImg input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.fileImg span {
    color: #c2c2c2;
}
.icon-ipt{
    width: 260px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}
.photo-upload{
    margin-top: 70px;
    position: relative;
    display: inline-block;
}
.photo-upload>span{
    font-weight: 700;
    position: absolute;
    width: 65px;
    text-align: right;
}
.photo-upload .photo-content-left{
    float: left;
    background: #fff;
    margin-right: 30px;
}
.photo-content{
    margin-left: 82px;
}
.photo-content-right{
    float: right;
}

.photo-upload .fileImg,.photo-content-right-bottom .fileImg{
    position: relative;
    display: block;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    width: 200px;
    height: 100%;
    text-align: center;
}
.photo-content-right-bottom{
    margin-top: 2px;

}
.photo-content-right-bottom .fileImg,.photo-content-right-top .fileImg{
    height: 100%;
}
.photo-content-right-bottom .upload-pictures-span ,.photo-content-right-top .upload-pictures-span{
    padding-top: 10px;
}
.rotation-chart-bottom-option {
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin-top: 50px;
    padding-left: 185px;
}
.rotation-chart-bottom-option > span {
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #188ae2;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.rotation-chart-bottom-option .rotation-chart-cancel {
    background: #FBFBFB;
    color: #ccc;
}
.photo-content-left{
    width: 200px;
    height: 120px;
}
.photo-content-left{
    width: 200px;
    height: 220px;
}
.photo-content-right-top,.photo-content-right-bottom{
    width: 200px;
    height: 110px;
}