html, body, .platform-data-management {
    width: 100%;
    height: 100%;
    background: #fff;
    min-width: auto !important;
}

.platform-data-management-option {
    padding: 15px 0 15px 20px;
    background: #fff;
}

.management-option-date, .management-option-select-date {
    display: inline-block;
}

.management-option-date p {
    padding: 2px 10px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.management-option-date .active {
    border: 1px solid red;
    color: red;
}

.management-option-select-date {
    margin-left: 40px;
}

.date-ipt {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.management-option-select-date i {
    position: relative;
    top: 0;
    left: -25px;
    color: #ccc;
}

.date-end {
    margin-left: 15px;
}

.management-option-select-date .query {
    padding: 5px 15px;
    background: #188ae2;
    color: #fff;
    margin-left: 30px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.platform-data-management-content {
    /*    height: calc(100% - 60px);*/
    background: #F4F4F4;
    padding: 20px 20px 0 20px;
    width: 100%;
}

.platform-data-management-content-main {
    background: #fff;
    height: calc(100%);
    width: 100%;
}

.platform-content-main-date {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #DFDDDD;
    width: 100%;
}

.platform-content-main-date-u, .content-main-select {
    display: inline-block;
}

.platform-content-main-date-u ul > li {
    float: left;
    height: 44px;
    padding:0 10px;
    cursor: pointer;
}



.content-main-select {
    float: right;
    margin-right: 20px;
}
.content-main-select .content-main-sel{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}
.content-text-statistics{
    width: 100%;
    margin-top: 20px;
}
.content-text-statistics .content-text-statistics-u{
    width: 100%;
    display: flex;
}
.content-text-statistics .content-text-statistics-u>li{
    flex: 1;
    border: 1px solid #DDDBDB;
    border-radius: 4px;
}
.content-text-statistics .content-text-statistics-u>li:nth-child(1){
    margin-left: 20px;
    background: #209FE3;
    color: #fff;
}
.content-text-statistics .content-text-statistics-u>li:nth-child(2){
    margin:0 40px;
    background: #EA6705;
    color: #fff;
}
.content-text-statistics .content-text-statistics-u>li:nth-child(3){
    margin-right: 20px;
    background: #1A827A;
    color: #fff;
}
.content-text-statistics-d{
    padding: 10px;
}
.content-text-statistics-top{
    height: 30px;
    line-height: 30px;
}
.content-text-statistics-bottom{
    margin-top: 20px;
}
.content-text-statistics-bottom .num{
    color: #fff;
    font-size: 18px;
}

.content-eCharts-statistics{
    border: 1px solid #DDDBDB;
    border-radius: 4px;
    margin: 20px;
    padding-top: 20px;
}
.content-eCharts-statistics ul{
    border-bottom: 1px solid #DDDBDB;
}
.content-eCharts-statistics ul>li{
    float: left;
    line-height: 40px;
    padding: 5px 10px;
    cursor: pointer;
}
.content-eCharts-statistics ul>li.ecActive{
    border-bottom: 1px solid red;
    color: red;

}
.content-table-statistics{
    width: 100%;
}
.content-table-statistics-option{
    margin: 20px 0;
}

.content-table-statistics-option>span {
    margin: 0 20px;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: rgb(60,183,249);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.content-table-statistics-option .content-table-statistics-export{
    background: red;
    color: #fff;
}
.table{
    margin: 20px;
}
#layui-table-page1 {
    text-align: center;
}