<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/view/popup/add-article.css">

</head>
<body>
<div class="add-article">
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>渠道名:</span>
        <input type="text" class="add-article-ipt channel-name" placeholder="请输入渠道名">
    </div>
    <!--  <div class="add-article-filed">
          <span class="add-article-tit">渠道ID:</span>
          <input type="text" class="add-article-ipt channel-id"  disabled>
      </div>-->
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>渠道账号:</span>
        <input type="text" class="add-article-ipt channel-account" placeholder="请输入渠道账号">
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>渠道密码:</span>
        <input type="text" class="add-article-ipt channel-password" placeholder="请输入渠道密码">
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>链接:</span>
        <input type="url" class="add-article-ipt channel-url" disabled readonly>
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>合作模式:</span>
        <input type="text" class="add-article-ipt cooperation-mode" placeholder="请输入合作模式">
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>价格:</span>
        <input type="text" class="add-article-ipt channel-price" placeholder="请输入价格">
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>类型:</span>
        <input type="text" class="add-article-ipt channel-type" placeholder="请输入类型">
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>收款账户:</span>
        <input type="text" class="add-article-ipt collection-account" placeholder="请输入收款账户">
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>收款人:</span>
        <input type="text" class="add-article-ipt payee" placeholder="请输入收款人">
    </div>
</div>
<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../../js/public/divScroll/divScroll.js"></script>
<script src="../../js/common.js"></script>
<script>
    $('.add-article').perfectScrollbar();
    let data = $(".channel-management .channel-management-iframe", parent.document).contents().find('#channel-management-data').text();
    if (data){
        data = JSON.parse(data);
        $('.channel-name').val(data.name);
        $('.channel-account').val(data.accountName);
        $('.channel-password').val(data.password);
        $('.add-article').attr('data-id', data.id);
        $('.channel-url').val(data.url);
        $('.cooperation-mode').val(data.model);
        $('.channel-price').val(data.money);
        $('.channel-type').val(data.type);
        $('.collection-account').val(data.receivables);
        $('.payee').val(data.receivablesPeople);
    }

    let query = pageCommon.getUrlParams();
    if (query.filed == 'view'){
        $('input').attr('disabled','disabled');
        $('.add-article-filed').find('.required').remove();
    }

</script>
</body>
</html>
