<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加平台</title>
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../js/public/jquery/jquery.tagsinput.css">
    <link rel="stylesheet" href="../../css/view/popup/add-platform.css">
</head>
<body>
<div class="add-platform">
    <p class="fw info-tit">平台信息</p>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>平台名称:</span>
        <input type="text" class="add-platform-ipt platform-title" placeholder="请输入平台名称">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>最高可借:</span>
        <input type="text" class="add-platform-ipt maximum-borrowable" placeholder="请输入最高可借">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>利率:</span>
        <input type="text" class="add-platform-ipt daily-interest-rate" placeholder="请输入利率">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>借款期限:</span>
        <div class="borrowing-cycle">
            <span data-num="1">0-1个月</span>
            <span data-num="3">1-3个月</span>
            <span data-num="6">3-6个月</span>
            <span data-num="12">6-12个月</span>
            <span data-num="36">12-36个月</span>
            <span data-num="37">36个月以上</span>
        </div>
    </div>
    <div class="add-platform-filed" style="height: 65px;">
        <span class="add-platform-tit"><span class="required">*</span>平台logo:</span>
        <div class="platform-photo clear">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i></span>
                <input type="file" accept="image/*" name="" id="fileImg" multiple="multiple">
            </a>
            <div class="platform-img">
                <img src="" alt="" class="">
                <span class="re-upload">x</span>
            </div>
        </div>
    </div>
    <div class="add-platform-filed">
        <span style=" position: relative;top: -14px;" class="add-platform-tit"><span class="required">*</span>简介:</span>
        <input type="text" class="add-platform-ipt platform-synopsis" placeholder="请输入简介">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit">分类:</span>
        <select class="platform-sel platform-classification">
            <option value="-1">无</option>
            <!--            <option value="全部">全部</option>
                        <option value="分类1">分类1</option>
                        <option value="分类2">分类2</option>
                        <option value="分类3">分类3</option>-->
        </select>
    </div>
  <!--  <div class="add-platform-filed">
        <span class="add-platform-tit">标签:</span>
        <select class="platform-sel platform-label">
            &lt;!&ndash;   <option value="全部">全部</option>
               <option value="标签1">标签1</option>
               <option value="标签2">标签2</option>
               <option value="标签3">标签3</option>&ndash;&gt;
        </select>
    </div>-->
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>链接:</span>
        <input type="text" class="add-platform-ipt platform-url" placeholder="请输入链接">
    </div>
    <p class="fw info-tit">对接信息</p>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>合作模式:</span>
        <input type="text" class="add-platform-ipt cooperation-mode" placeholder="请输入合作模式">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>价格:</span>
        <input type="text" class="add-platform-ipt platform-price" placeholder="请输入价格">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>对接人:</span>
        <input type="text" class="add-platform-ipt platform-pick-up-people" placeholder="请输入对接人">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit"><span class="required">*</span>联系方式:</span>
        <input type="text" class="add-platform-ipt contact-information" placeholder="请输入联系方式">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit">后台账号:</span>
        <input type="text" class="add-platform-ipt background-account" placeholder="请输入后台账号">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit">后台密码:</span>
        <input type="text" class="add-platform-ipt background-password" placeholder="请输入后台密码">
    </div>
    <div class="add-platform-filed">
        <span class="add-platform-tit">后台链接:</span>
        <input type="text" class="add-platform-ipt background-link" placeholder="请输入后台链接">
    </div>
</div>
<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/public/divScroll/divScroll.js"></script>
<script src="../../js/public/jquery/jquery.tagsinput.min.js"></script>
<script src="../../js/view/popup/add-platform.js"></script>
</body>
</html>
