<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图片</title>
    <link rel="stylesheet" href="../../css/public/reset.css">
    <link rel="stylesheet" href="../../css/public/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/view/popup/add-photos.css">



</head>
<body>
<div class="add-article">
    <div class="add-article-filed add-article-filed-photo banner">
        <span class="add-article-tit"><span class="required">*</span>banner图:</span>
        <div class="article-photo">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i>点击上传图片</span>
                <input type="file" accept="im
                age/*" name="" id="fileImg" multiple="multiple">
            </a>
            <div class="article-img">
                <img src="" alt="" class="">
                <span class="re-upload br">重新上传</span>
            </div>
        </div>
    </div>
    <div class="add-article-filed add-article-filed-photo bannerBg">
        <span class="add-article-tit"><span class="required">*</span>banner背景图:</span>
        <div class="article-photo">
            <a href="javascript:void (0);" class="file fileImg">
                <span class="upload-pictures-span"><i class="fa fa-cloud-upload"></i>点击上传图片</span>
                <input type="file" accept="im
                age/*" name="" id="fileBgImg" multiple="multiple">
            </a>
            <div class="article-img">
                <img src="" alt="" class="">
                <span class="re-upload br">重新上传</span>
            </div>
        </div>
    </div>
    <div class="add-article-filed">
        <span class="add-article-tit"><span class="required">*</span>banner链接:</span>
        <input type="text" class="add-article-ipt article-title" placeholder="请输入banner链接">
    </div>
</div>
<script src="../../js/public/jquery/jquery-3.3.1.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/public/divScroll/divScroll.js"></script>
<script src="../../js/view/popup/add-photos.js"></script>
</body>
</html>