
html, body {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #333;
    min-width: 1366px;
}

body .fn-hide {
    display: none;
}

body .fn-show {
    display: block;
}

i {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*清除浮动*/
.clear:before,
.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.clear {
    *zoom: 1;
    /*IE/7/6*/
}

/*定位居中*/
.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.required {
    color: red;
}

.br {
    border-radius: 4px;
}

.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn {
    padding-top: 5px;
}

.fw {
    font-weight: 700;
}


/*滚动条设置，仅对chrome生效*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #ccc;
}

.layui-form-checked[lay-skin=primary] i {
    background: #188ae2;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background: #188ae2;
}

iframe {
    width: 100%;
    height: 100%;
}

.dsl {
    display: inline-block;
}

.no-authority {
    position: relative;
    top: 30%;
    font-weight: bold;
    text-align: center;
    display: inherit;
    font-size: 30px;
    color: #333;
}